body {
  background-color: black;
}
.fail {
  color: red;
  font-weight: bold;
}
h1 {
  color: white;
  font-family: cursive;
}
p {
  color: white;
  font-style: italic;
  font-weight: bold;
}
.pass {
  color: green;
  font-weight: bold;
}
.recheck{
  color: yellow;
  font-weight: bold;
}
button, select {
  color: purple;
  font-style: italic;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
