body {
  background-color: #1f1c1c;
}
button {
  border-radius: 5px;
}
.fail {
  color: red;
  font-weight: bold;
  margin-bottom: -10px;
}
footer {
  border-top: 1px solid #b9b9c3;
  color: #e0e0e0;
  font-size: 14px;
  font-style: italic;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
header {
  color: #e0e0e0;
  text-align: center;
  font-style: italic;
}
h2 {
  margin-bottom: -25px;
}
h3 {
  margin-top: 25px;
}
h2 , h3 {
  color: #e0e0e0;
  font-style: italic;
}
p {
  color: white;
  font-style: italic;
  font-weight: bold;
}
.pass {
  color: green;
  font-weight: bold;
  margin-bottom: -10px;
}
.recheck{
  color: yellow;
  font-weight: bold;
  margin-bottom: -10px;
}
button, select {
  color: purple;
  font-style: italic;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
select {
  border: 25px;
  margin-bottom: 25px;
  margin-top: -10px;
}
.underline {
  text-decoration: underline;
}
.results, #results {
  color: gold;
  margin-bottom: -10px;
}
.ref {
  color: red;
  font-style: italic;
  font-weight: bold;
}
summary h2, summary h3 {
  display: inline;
  margin: 0 0 25px 0;
}