body {
  background-color: black;
}
.fail {
  color: red;
  font-weight: bold;
}
header {
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid white;
}
h1 {
  color: white;
  font-style: italic
}
p {
  color: white;
  font-style: italic;
  font-weight: bold;
}
.pass {
  color: green;
  font-weight: bold;
}
.recheck{
  color: yellow;
  font-weight: bold;
}
button, select {
  color: purple;
  font-style: italic;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}