.airbus {
  border-bottom: solid 3px yellow;
  border-right: solid 3px yellow;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
  color: white;
  display: inline-block;
  transform: skew(-20deg);
}

.boeing {
  border-bottom: solid 3px #1a409f;
  border-right: solid 3px #1a409f;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
  color: white;
  display: inline-block;
  transform: skew(-20deg);
}

.torque {
  border-bottom: solid 3px grey;
  border-right: solid 3px grey;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
  color: white;
  display: inline-block;
  transform: skew(-20deg);
}

summary {
  display: flex;
  align-items: center;
}

summary h2, summary h3 {
  display: inline;
  margin: 0;
}

details summary::-webkit-details-marker {
  margin-right: 10px;
}

details summary::marker {
  content: "▶ ";
  color: white;
}

details[open] summary::marker {
  content: "▼ ";
}

body {
  background-color: #0F172A;
  color: white;
}

button {
  border-radius: 5px;
}

button, select {
  color: purple;
  font-style: italic;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.container {
  display: flex;
}

.fail {
  color: red;
  font-weight: bold;
  margin-bottom: -10px;
}

footer {
  border-top: 1px solid #b9b9c3;
  color: #e0e0e0;
  font-size: 14px;
  font-style: italic;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

h2 {
  color: #E5E7EB;
  margin-bottom: -25px;
}

h3 {
  color: #CBD5E1;
  margin-bottom: 10px;
}

header {
  color: #e0e0e0;
  font-style: italic;
  text-align: center;
}

p {
  color: white;
  font-style: italic;
  font-weight: bold;
}

.pass {
  color: green;
  font-weight: bold;
  margin-bottom: -10px;
}

.recheck {
  color: yellow;
  font-weight: bold;
  margin-bottom: -10px;
}

.ref {
  border: solid 3px red;
  color: red;
  display: inline-block;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 7px;
}

.results, #results {
  color: gold;
  margin-bottom: -10px;
  padding-bottom: 10px;
}

.results-column {
  min-width: 120px;
}

.results-container {
  display: flex;
  gap: 40px;
  margin-top: 10px;
}

select {
  border: 25px;
  margin-bottom: 25px;
  margin-top: -10px;
}

summary h2 {
  padding-right: 5px;
}

.underline {
  text-decoration: underline;
}